main {
    display: grid;
    grid-template-rows: 100px auto;
    place-items: center;
}

.title {
    display: grid;
    margin: 0px;
    place-items: center;
    grid-column: 1/2;
    text-align: center;
}

.description {
    display: grid;
    margin: 0px;
    place-items: center;
    background-color: white;
    border-radius: 20px;
    height: auto;
    text-align: justify;
    width: 70%;
    margin-bottom: 40px;
    line-height: 2;
    text-indent: 10%;

}

.des {
    margin: 20px;
}

body {
    display: grid;
    grid-template-rows: 1fr 3fr 0.5fr;
    min-height: 100vh;
}
