body {
    background-image: url("images/batiment.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.element-a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 200px;
    margin: 30px;
    position: absolute;
    bottom: 100px;
    background-color: #D9D9D9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    opacity: calc(0.7);
    border-radius: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
}