

form.compte1 {
  background-color: #D9D9D9;
  opacity: calc(0.7);
  padding: 3rem;
  height: 320px;
  width: 270px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-top: 1px solid rgba(255, 255, 255, .3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
  text-align: center;

}

.compte2 {

  position: absolute;
  top: 15%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, 0%); /* décalage de 50% de sa propre taille */
}



p {
  color: black;
  font-weight: 650;
  opacity: .7;
  font-size: 1.4rem;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
  
a {
  text-decoration: none;
  color: black;
  font-size: 19px;
}

.input2 {
  background: transparent;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-top: 1px solid rgba(255, 255, 255, .3);
  padding: 1rem;
  width: 200px;
  border-radius: 50px;
  box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
  color: black;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  margin-bottom: 2em;
}

.input6 {
  background-color: rgba(209, 207, 207);
  border: none;
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-top: 1px solid rgba(255, 255, 255, .3);
  padding: 1rem;
  width: 200px;
  border-radius: 50px;
  box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
  color: black;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  margin-bottom: 2em;
}

/************************************************************/
/*pour telephone (jusqu'à 375px)*/
@media screen and (max-width: 375px) {
  .compte2 {
    top: 70px;
  }

}

/************************************************************/
/*pour tablette (entre 375px et 768px)*/
@media screen and (min-width:375px) and (max-width: 768px) {
  .compte2 {
    top: 70px;
  }
}

/************************************************************/
/*pour laptop - (entre 768px et 1024px)*/
@media screen and (min-width:768px) and (max-width: 1024px) {
  .compte2 {
    top: 140px;
  }
}

/************************************************************/
/*pour laptop large - (entre 1024px et 1440px)*/
@media screen and (min-width:1024px) and (max-width: 1440px) {
  .compte2 {
    top: 140px;
  }
}

/************************************************************/
/*pour geant ordi - (sup à 1440px)*/
@media screen and (min-width: 1440px) {
  .compte2 {
    top: 160px;
  }
}